@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    text-align: center;
    background-color:#8EACCD;
    color: #fff;
    font-family: "Quicksand", sans-serif;
  }

#imgCurriculo{
  width: 10%;
  height: 10%;
  border-radius: 50%;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8);
 
}

hr{
  width: 80%;
  
}

#menu a, #formacao a, #enderecoContato a{
 color: #fff;
 font-size: 20px;
 text-decoration: none;
}

#menu a:hover, #formacao a:hover, #enderecoContato a:hover{
  color:   #dbe7ff;
}

iframe{
   width: 50%;
   height: 300px;
   border: none;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: hsl(220, 100%, 83%);
}

 

#imgIcon{
  height: 30px;
  width: 30px;
  border-radius: none;

}

#rodape span{
font-size: 10px;
}
