body{
    text-align: center;
    background-color:#8EACCD;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
img{
  width: 10%;
  height: 10%;
  border-radius: 50%;
 
}

hr{
  width: 80%;
  
}

nav a{
 color: #fff;
 font-size: 20px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

iframe{
   width: 50%;
   height: 250px;
   border: none;
}
#imgIcon{
  height: 30px;
  width: 30px;
  border-radius: none;

}

a{
  color:   #dbe7ff;
  text-decoration: none;

}
a:hover{
  color: #fff;
}

footer{
font-size: 10px;
}

table {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: 25%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #D2E0FB;
}

 